body{
    margin: 0%;
    padding: 0%;
    background: rgb(226, 225, 225);
}

.container{
    width: 600px;
    min-height: 100vh;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
/*
toolbox
*/
.toolbox{

}

/*
contets
*/

.textarea{
    padding: 0 0 0 10px;
    background: white;
    -webkit-appearance: none;
    height: 500px;
    width: 100%;
}

.contents{
    overflow: hidden;
    height: 500px;
}
